Sets:

Useage of sets :

For example you need to collect names starting from letter 'A' then sets helps in making sure that same name doesn't repeat multiple times

In [2]:
s={2,4,5,5,6}
print(s)

{2, 4, 5, 6}

Here we see that the items of set occur in random order and hence they cannot be accessed using index numbers. Also sets do not allow duplicate values.

In [3]:
info = {"Carla", 19, False, 5.9, 19}
print(info)

{False, 'Carla', 19, 5.9}

Quick Quiz: Try to create an empty set. Check using the type() function whether the type of your variable is a set

In [4]:
a={}
print(type(a))

<class 'dict'>

In [5]:
# so to create an empty set
a=set()
print(type(a))

<class 'set'>

Joining Sets

union() and update():

The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [8]:
b={1,2,3,4,5}
c={3,6,7,5}
print(b.union(c))
#here b and c are not changed
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}
{3, 5, 6, 7}

In [9]:
#if we want to update 
#it will add the different elements from c to b
b.update(c)
print(b,c)

{1, 2, 3, 4, 5, 6, 7} {3, 5, 6, 7}

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

{'Berlin', 'Seoul', 'Kabul', 'Delhi', 'Madrid', 'Tokyo'}

In [11]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)

{'Berlin', 'Seoul', 'Kabul', 'Delhi', 'Madrid', 'Tokyo'}

 intersection and intersection_update():

The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [12]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

{'Madrid', 'Tokyo'}

In [13]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

{'Madrid', 'Tokyo'}

symmetric_difference and symmetric_difference_update():

The symmetric_difference() and symmetric_difference_update() methods prints only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

prints all the values which are not common

In [14]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)

{'Berlin', 'Seoul', 'Kabul', 'Delhi'}

In [15]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)

{'Berlin', 'Seoul', 'Kabul', 'Delhi'}

difference() and difference_update():

The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets. The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

In [16]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)

{'Madrid', 'Tokyo', 'Berlin'}

In [17]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
print(cities.difference(cities2))

{'Madrid', 'Tokyo', 'Berlin'}

Sets Methods

isdisjoint():

The isdisjoint() method checks if items of given set are present in another set. This method returns False if items are present, else it returns True.

In [18]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(cities.isdisjoint(cities2))

False

issuperset():

The issuperset() method checks if all the items of a particular set are present in the original set. It returns True if all the items are present, else it returns False.

In [19]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))
cities3 = {"Seoul", "Madrid","Kabul"}
print(cities.issuperset(cities3))

False
False

issubset():

The issubset() method checks if all the items of the original set are present in the particular set. It returns True if all the items are present, else it returns False.

In [20]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))

True

add():

If you want to add a single item to the set use the add() method.

In [21]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)

{'Delhi', 'Berlin', 'Helsinki', 'Madrid', 'Tokyo'}

remove()/discard():

We can use remove() and discard() methods to remove items form list.

In [22]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)

{'Berlin', 'Delhi', 'Madrid'}

The main difference between remove and discard is that, if we try to delete an item which is not present in set, then remove() raises an error, whereas discard() does not raise any error.

In [23]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Seoul")
print(cities)

KeyError: 'Seoul'

pop():

This method removes the last item of the set but the catch is that we donâ€™t know which item gets popped as sets are unordered. However, you can access the popped item if you assign the pop() method to a variable.

In [24]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)

{'Delhi', 'Madrid', 'Tokyo'}
Berlin

del:

del is not a method, rather it is a keyword which deletes the set entirely.

In [25]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
del cities
print(cities)

NameError: name 'cities' is not defined

clear():

This method clears all items in the set and prints an empty set.

In [26]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)

set()

Check if item exists:

You can also check if an item exists in the set or not.

In [27]:
info = {"Carla", 19, False, 5.9}
if "Carla" in info:
    print("Carla is present.")
else:
    print("Carla is absent.")

Carla is present.